html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    overflow: auto;
}

.main-container {
    border: 3px solid red;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.hero {
    flex: 1;
    width: 100%;
    border: 3px solid blue;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.title-container {
    border: 3px solid aqua;
    flex: 1;
    display: flex;
    align-items: center;
}

#main-title {
    border: 2px solid red;
    /* flex-shrink: 2; */
    width: 100%;
    /* height: 50%; */
    color: white;
    text-align: center;
}

.begin-container {
    border: 3px solid aqua;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instructions {
    color: white;
}


.selection-container {
    flex: 1;
    width: 100%;
    border: 3px solid yellow;
    /* margin: 25px; */
    display: flex;
    flex-direction: column;
    /* visibility: hidden; */
}

.vis {
    visibility: hidden;
}

.player-selection {
    flex: 1;
    border: 3px solid yellowgreen;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* gap: 25px; */
}

.comp-selection {
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 #comp-selection {
     color: white;
 }

.fade {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 150px; */
    color: black;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
      
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
    @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
    @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
    @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
    @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }


.rock-container {
    border: 3px solid tomato;
    display: flex;
    justify-content: center;
    /* height: 100%; */
    flex: 1;
}

.paper-container {
    border: 3px solid tomato;
    display: flex;
    justify-content: center;
    flex: 1;
}

.scissors-container {
    border: 3px solid tomato;
    display: flex;
    justify-content: center;
    flex: 1;
}

.btns {
    /* width: 50%; */
    text-align: center;
    background-color: #141414;
    border: 4px solid rgba(54, 124, 255, 0.6);
    font-weight: 400;
    letter-spacing: .15em;
    position: relative;
    outline: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* height: 45px;
    width: 130px; */
    width: 60%;
    height: 60px;
    opacity: 1;
    color: white;
    /* padding: 30; */
    }

    .btns:hover {
        opacity: .6;
    }

.comp-selection {
    flex: 1;
    border: 3px solid yellow;
}

.display-scores {
    flex: 1;
    width: 100%;
    border: 3px solid thistle;
    display: flex;
    flex-direction: column;
    padding: 0;
    /* margin: 25px; */
    /* padding: 35px; */
    /* justify-content: center;
    align-items: center; */
}

.scores {
    border: 3px solid green;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-text {
    border: 3px solid gold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 25px; */
}

.txt {
    color: white;
}
.computer-score, .player-score{
    border: 3px solid green;
    /* padding: 15px; */
    color: white;
}

.play-again-container {
    flex: 1;
    border: 3px solid purple;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-winner {
    flex: 1;
    border: 3px solid brown;
    width: 100%;
}