html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    overflow: auto;
}

.main-container {
    border: 3px solid red;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    border: 3px solid blue;
}