html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* display: flex; */
    overflow: auto;
}

.main-container {
    /* border: 3px solid red; */
    margin: 0 auto;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* gap: 50px 0; */
}

.hero {
    flex: 1;
    width: 100%;
    /* border: 3px solid blue; */
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.title-container {
    /* border: 3px solid aqua; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 0px 15px;
}

/* .hero-img {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 250px;
} */

#main-title {
    /* flex: 1; */
    /* border: 2px solid red; */
    width: auto;
    height: auto;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: .05em;
    line-height: 1.5em;
}

.begin-container {
    /* border: 3px solid aqua; */
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 15px 0;
    
}

.begin-container #instructions {
    color: white;
    /* border: 1px solid yellow; */
    /* flex: 1; */
    font-size: 20px;
    margin-bottom: 10px;
}

.begin-game {
    /* height: 40px; */
    margin-top: 10px;
    /* flex: 1; */
    /* height: 100px; */
}

.begin-container .begin-game {
    width: 30%;
    padding: 10px;
    height: 25%;
    
    /* background-color: thistle; */
}


.selection-container {
    flex: 1;
    width: 100%;
    /* border: 3px solid yellow; */
    /* margin: 25px; */
    display: flex;
    flex-direction: column;
    /* visibility: hidden; */
}

/* .vis {
    visibility: hidden;
} */



.player-selection {
    flex: 1;
    /* border: 3px solid yellowgreen; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* gap: 25px; */
}

.comp-selection {
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 #comp-selection {
     color: white;
 }

.fade {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 150px; */
    color: black;
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
}
      
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
    @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
    @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
    @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
    @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }


.rock-container {
    /* border: 3px solid tomato; */
    display: flex;
    justify-content: center;
    height: 0 auto;
    flex: 1;
}

.paper-container {
    /* border: 3px solid tomato; */
    display: flex;
    justify-content: center;
    height: 0 auto;
    flex: 1;
}

.scissors-container {
    /* border: 3px solid tomato; */
    display: flex;
    justify-content: center;
    height: 0 auto;
    flex: 1;
}

.btns {
    /* width: 50%; */
    text-align: center;
    background-color: rgb(51, 51, 51);
    border: 2px solid rgba(54, 124, 255, 0.8);
    font-weight: 200;
    font-size: auto;
    letter-spacing: .07em;
    position: relative;
    outline: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50%;
    height: 100%;
    opacity: 1;
    color: white;
    padding: 13px;
    }

    .btns:hover {
        opacity: .8;
    }

.comp-selection {
    flex: 1;
    /* border: 3px solid yellow; */
}







/*DISPLAY SCORES/ROUND RESULTS*/

.display-scores {
    flex: 1;
    width: 100%;
    /* border: 3px solid thistle; */
    display: flex;
    flex-direction: column;
    padding: 0;
}

.scores {
    /* border: 3px solid green; */
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    align-items: center;
}

.comp-score-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    text-align: center;
    flex: 1;
    /* width: 25%; */
}

.player-score-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    text-align: center;
    flex: 1;
    /* width: 25%; */
}

.txt {
    color: white;
}
.computer-score, .player-score{
    /* border: 3px solid green; */
    /* padding: 15px; */
    color: rgba(54, 124, 255, 0.8)
}


.round-winner-container {
    flex: 1;
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-winner-text {
    color: white;
}










.play-again-container {
    flex: 1;
    /* border: 3px solid purple; */
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    justify-content: space-evenly;
    align-items: center;
}

.display-winner {
    flex: 1;
    /* border: 3px solid brown; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#winner {
    color: white;
    font-size: 24px;
    
}

.all-text {
    font-weight: 100;
    letter-spacing: .05em;
    font-size: 22px;
}

.play-again, .bestOf {
    width: 25%;
    height: 45px;
    text-align: center;
    background-color: rgb(51, 51, 51);
    border: 2px solid rgba(54, 124, 255, 0.8);
    font-weight: 200;
    font-size: auto;
    letter-spacing: .07em;
    position: relative;
    outline: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    color: white;
    padding: 13px;
}

.playerBestScore, .compBestScore {
    color: white;
    
}

.disp-none {
    display: none;
}